.identityCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #757575;
  text-align: center;
}

.identityCard > img {
  object-fit: contain;
  height: 120px;
  transition: all 0.5s;
  margin-bottom: 10px;
  cursor: pointer;
}

.identityCard > img:hover {
  transform: scale(1.05);
}

.identityCard > h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.identityCard > h2 {
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 250px) {
  .identityCard > img {
    height: 90px;
  }
}
